.facebookbtn {
    background-color: #4CAF50; /* Green */
    border-radius: 10px;
    color: white;
    
    text-align: start;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .facebookbtn {
    background-color: rgb(251, 251, 251); 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .facebookbtn:hover {
    background-color: #7b9af0;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  
  